.advantage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $black;
  position: relative;
  padding-block-start: 0;
  padding-block-end: rem(31);
  min-height: rem(124);
  max-width: rem(260);
  margin: 0 auto;

  @include tablet {
    max-width: initial;
    margin: initial;
    padding-block-end: rem(0);
    display: grid;
    grid-template-columns: rem(45) 1fr;
    grid-template-rows: rem(38) 1fr;
    row-gap: rem(16);
    align-self: start;

  }
}

.advantage__icon {
  // margin-inline-start: rem(10);
  // margin-block-end: rem(10);
  min-width: rem(55);
  max-height: rem(38);
  fill: #63d1bb;

  @include tablet {
    display: inline-block;
    grid-column: 1 / 2 ;
    grid-row: 1 / 2 ;
    align-self: center;
    justify-self: center;
    // margin-block-end: rem(17);
  }
}

.advantage__text {
  max-width: rem(250);
  line-height: calc(20 / 17);

  @include tablet {
    grid-column: 1 / -1 ;
    grid-row: 2 / -1 ;
    padding-inline-start: rem(3);
    max-width: rem(298);
    font-size: rem(20);
  }
}
