.advantages {
  @include reset-list-style;
  padding-block-start: rem(10);
  padding-block-end: rem(20);
  font-size: rem(17);
  font-weight: bold;

  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(30);
  }
}
