.assortiment {
  padding-block-start: rem(30);
  padding-block-end: rem(20);

  @include section-wrapper;

  @include tablet {
    padding-block-start: rem(66);
    padding-block-end: rem(10);
  }

  @include desktop {
    padding-block-start: rem(110);
    padding-block-end: rem(30);
  }
}

.assortiment__list {
  @include reset-list-style;
  display: grid;
  gap: rem(30);

  @include tablet {
    gap: rem(54);
  }

  @include desktop {
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    gap: rem(50);
  }
}
