$hover-clr: #5eaa2f;
$hover-show-clr: #ebebeb;

.btn {
  display: block;
  font-size: rem(18);
  line-height: calc(20 / 18);
  text-transform: uppercase;
  font-weight: bold;
  background-color: $white;
  color: $black;
  text-decoration: none;
  text-align: center;
  padding: rem(14);
  border: 2px solid $off-black;

  @include tablet {
    font-size: rem(17);
    line-height: calc(20 / 17);
  }
}


.btn:hover {
  border-color: transparent;
  background-color: $off-black;
  color: $white;
}

.btn:active {
  border-color: transparent;
  color: rgba($white, 0.3);
}