$hover-clr: #5eaa2f;
$hover-show-clr: #ebebeb;

.btn {
  display: block;
  width: 100%;
  font-size: rem(18);
  line-height: calc(20 / 18);
  text-transform: uppercase;
  font-weight: bold;
  background-color: $white;
  color: $black;
  text-decoration: none;
  text-align: center;
  padding: rem(14);
  border: 2px solid $off-black;

  @include tablet {
    font-size: rem(17);
    line-height: calc(20 / 17);
  }
}

.btn--modal {
  color: $white;
  background-color: #63d1bb;
  border-color: transparent;
}

.btn--form {
  font-size: rem(17);
  padding-block-start: rem(16);
}

.btn:hover {
  border-color: transparent;
  background-color: $off-black;
  color: $white;
}

.btn:active {
  border-color: transparent;
  color: rgba($white, 0.3);
}

.btn--modal:hover {
  border-color: #63d1bb;
  background-color: rgba($color: #63d1bb, $alpha: 0.9);
}
