.contact-info {
  font-size: rem(14);
  line-height: calc(30 / 14);
  max-width: rem(350);

  @include tablet {
    font-size: rem(17);
    line-height: calc(30 / 17);
    max-width: none;
    display: flex;
    justify-content: flex-start;
    gap: rem(25);
  }

  @include desktop {
    max-width: rem(300);
    display: initial;
  }
}

.contact-info__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: rem(30);

  @include tablet {
    justify-content: flex-start;
    width: 50%;
  }

  @include desktop {
    gap: rem(25);
    justify-content: space-between;
    width: 100%;
  }
}

.contact-info__name {
  width: 1fr;
  margin-block-end: rem(40);
}

.contact-info__value {
  width: rem(183);

  @include tablet {
    width: rem(205);
  }

  @include desktop {
    max-width: rem(220);
  }
}

.contact-info__wrapper:first-of-type .contact-info__value {
  text-decoration: underline;
  text-decoration-color: #62d1ba;
  text-decoration-thickness: 1px;
  text-underline-offset: 6px;
}

.contact-info__value-addres {
  font-style: normal;
}
