.content {
  background-color: $white;
}

.content__special {
  @include section-wrapper;
}

.content__advantages {
  background-color: $white;
  padding-block-start: rem(30);

  @include tablet {
    padding-block-start: rem(54);
    padding-block-end: rem(50);
  }

  @include desktop {
    padding-block-start: rem(68);
    padding-block-end: rem(57);
  }
}

.content__advantages-wrapper {
  @include section-wrapper;

  @include desktop {
    display: grid;
    grid-template-columns: rem(175) rem(689) 1fr;
    grid-template-rows: repeat(2, auto);
  }
}

.content__advantages-title {
  color: $black;
  max-width: rem(260);
  font-size: rem(25);
  line-height: calc(30 / 25);
  font-weight: bold;
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-block-end: rem(5);

  @include tablet {
    max-width: rem(420);
    font-size: rem(43);
    line-height: calc(50 / 43);
    margin-inline-start: initial;
    margin-inline-end: initial;
    margin-block-end: rem(18);
  }

  @include desktop {
    grid-column: 2 / -2;
    grid-row: 1 / 2;
    font-size: rem(53);
    line-height: calc(57 / 53);
    margin-block-end: rem(16);
  }
}

.content__advantages-list {
  max-width: rem(900);

  @include desktop {
    grid-column: 2 / -2;
    grid-row: 2 / -1;
  }
}

.content__promo {

  @include tablet {}

  @include desktop {}
}

.content__reviews {
  @include section-wrapper;
}
