$box-size: rem(42);

.field {
  @include tablet {
    display: flex;
    gap: rem(24);
  }

  &--text:nth-of-type(1n):not(:last-of-type) {
    margin-block-end: rem(35);
  }

  &--textarea {
    width: 100%;
    padding: rem(17);
    height: rem(280);
    resize: none;
    border: 1px solid $black;

    @include tablet {
      height: rem(142);
    }
  }

  &--textarea::placeholder {
    color: rgba($black, 0.3);
    font-size: rem(17);
    line-height: calc(18 / 17);
    font-weight: bold;

    @include tablet {
      font-size: rem(19);
    }
  }

  &--textarea:focus {
    border-color: #62d1ba;
  }

  &--textarea:hover {
    border-color: #62d1ba;
  }

  &__item {
    display: block;
    width: 100%;
    border: none;
    box-shadow: 0 2px 0 $black;
    padding: rem(16) rem(17) rem(17) 0;
    background-color: transparent;

    @include tablet {
      padding: rem(16) rem(18) rem(18);
    }
  }

  &__item:hover {
    box-shadow: 0 2px 0 rgba(#62d1ba, 0.5);
  }

  &__item:active {
    box-shadow: 0 2px 0 rgba(#62d1ba, 1);
  }


  &__item::placeholder {
    color: rgba($black, 0.3);
    font-size: rem(17);
    line-height: calc(18 / 17);

    @include tablet {
      font-size: rem(19);
      line-height: calc(19 / 18);

    }
  }

  &__item-select {
    position: absolute;
    clip: rect(0 0 0 0);
    margin: -1;
    width: 1;
    height: 1;
  }

  &__name {
    display: flex;
    align-items: center;
    position: relative;
    font-size: rem(17);
    line-height: calc(18 / 17);
    font-weight: bold;

    @include tablet {
      font-size: rem(19);
    }
  }

  &__thing {}

  &__thing-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 2px solid $off-black;
    width: $box-size;
    height: $box-size;
    margin-inline-end: rem(20);

    @include tablet {
      $box-size: rem(52);
      width: $box-size;
      height: $box-size;
    }
  }

  &__name:hover &__thing-item {
    border-color: #62d1ba;
  }


  &__name:active &__thing-item {
    border-color: rgba($color: $black, $alpha: 0.3);
  }

  &__thing-item--radio {
    border-radius: 50%;
  }

  &__item-select:checked+.field__thing>.field__thing-item::before {
    opacity: 1;
  }

  &__item-select:focus-visible+.field__thing {
    outline: 2px solid $black;
    outline-offset: -2 px;
  }

  &__thing-item::before {
    position: relative;
    content: "";
    opacity: 0;
  }

  &__thing-item--radio::before {
    border-radius: 50%;
    width: rem(18);
    height: rem(18);
    background-color: #62d1ba;

    @include tablet {
      width: rem(23);
      height: rem(23);

    }
  }

  &__thing-item--checkbox::before {
    border: 2px solid $black;
    border-block-start: none;
    border-inline-end: none;
    top: -10%;
    transform: rotate(-45deg);
    width: rem(23);
    height: rem(16);

    @include tablet {
      width: rem(32);
      height: rem(22);
    }
  }

  &__thing-item:hover::before {
    transform: rotate(-45deg) scale(105%);
  }
}
