.form {
  background-color: $white;
  padding-inline-start: rem(30);
  padding-inline-end: rem(30);
  padding-block-start: rem(17);
  padding-block-end: rem(55);

  @include tablet {
    padding-block-start: rem(54);
    padding-block-end: rem(49);
    padding-inline-start: 0;
    padding-inline-end: 0;
  }

  @include desktop {
    padding-block-start: rem(99);
  }
}

.form__section {
  @include tablet {
    background-color: #f1f1f1;
  }
}

.form__desc {
  @include tablet {
    @include section-wrapper;
  }

  @include desktop {
    display: grid;
    grid-template-columns: rem(150) rem(700) 1fr;
    column-gap: rem(25);
  }
}

.form__desc-text {
  font-size: rem(13);
  line-height: calc(20 / 13);

  @include tablet {
    font-size: rem(17);
    line-height: calc(30 / 17);
  }

  @include desktop {
    grid-column: 2 / -2;
  }
}

.form__submit-wrapper {
  padding-block-start: rem(11);

  @include tablet {
    @include section-wrapper;
    display: grid;
    grid-template-columns: rem(230) 1fr;
    gap: rem(20);
    padding: 0;
  }

  @include desktop {
    grid-template-columns: rem(150) rem(230) rem(445) 1fr;
    column-gap: rem(25);
  }
}

.form__submit-obligatory {
  margin-block-end: rem(30);
  font-size: rem(14);
  line-height: calc(16 / 14);

  @include tablet {
    font-size: rem(17);
    line-height: calc(30 / 17);
    margin: 0;
    justify-self: end;
    align-self: center;
  }

  @include desktop {
    grid-column: 3 / 4;
  }
}

.form__submit-btn {
  @include tablet {
    order: -1;
  }

  @include desktop {
    grid-column: 2 / 3;
  }
}
