.header {
  position: relative;
  background-color: #f1f1f1;
  overflow: hidden;

  &--main-page {
    background-color: #f9f9f9;
  }

  &__nav {

    @include tablet {
      $paddings: 50;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @include section-wrapper;
    }

    @include desktop {
      width: 100%;
      display: grid;
      grid-template-columns: rem(440) 1fr rem(349);
      grid-template-rows: repeat(2, auto);
      grid-template-areas:
        "main-menu logo-wrapper helper"
        "events . sheep-info"
      ;
    }
  }

  &__toggle-wrapper {
    background-color: $white;
    position: relative;
    z-index: 1;
    padding-top: rem(22);
    padding-bottom: rem(22);
    padding-left: rem(30);
    padding-right: rem(30);
    width: 100%;
    border-bottom: 1px solid rgba($black, 0.1);

    @include tablet {
      display: flex;
      align-items: center;
      order: 1;
      border: 0;
      padding: 0;
      padding-top: rem(22);
      padding-bottom: rem(20);
      width: calc(320 / (768 - 100) * 100%);
      flex-shrink: 1;
    }

    @include desktop {
      width: 100%;
      height: auto;
      // flex-basis: rem(200);
      // flex-grow: 1;
      // flex-shrink: 2;
      margin: 0;
      grid-area: logo-wrapper;
      order: initial;
      padding-top: rem(9);
      padding-bottom: rem(14);
    }
  }

  &__toggle-wrapper::before {
    @include tablet {
      background-color: $white;
      z-index: 0;
      position: absolute;
      top: 0;
      content: "";
      display: block;
      width: 155vw;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      border-bottom: 1px solid rgba($black, 0.1);
    }
  }

  &__logo {
    width: fit-content;
    margin: 0 auto;

    @include tablet {
      position: relative;
      z-index: 1;
      margin-left: 0;
      margin-right: auto;
    }

    @include desktop {
      margin-left: rem(12);
    }
  }


  &__togle-menu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin-right: rem(30);

    @include tablet {
      display: none;
    }
  }

  &__menu {
    @include tablet {
      z-index: 1;
      width: calc(340 / (768 - 100) * 100%);
      order: 3;
      // @include show-outline;
    }

    @include desktop {
      // flex-shrink: 2;
      // flex-grow: 0;
      // width: calc(375 / (1050 - 100) * 100%);
      // width: 35%;
      grid-area: main-menu;
      width: 100%;
      order: initial;
    }
  }

  &__menu--helper {
    @include tablet {
      width: fit-content;
      max-width: rem(350);
      order: 2;
      flex-grow: 0;
    }

    @include desktop {
      justify-self: end;
      grid-area: helper;
      order: initial;

    }
  }

  &__menu--events {
    display: none;

    @include desktop {
      display: grid;
      grid-area: events;
      order: initial;
    }
  }

  &__sheep-info {
    display: none;

    @include tablet {
      order: 4;
      // order: initial;
      display: initial;
      margin-left: auto;
      align-self: stretch;
      display: flex;
      align-items: center;
    }

    @include desktop {
      grid-area: sheep-info;
    }
  }
}
