.helper {
  background-color: $white;
  @include reset-list-style;

  @include tablet {
    display: flex;
align-items: center;
  }

  @include desktop {
    max-width: rem(410);
    font-size: rem(17);
  }

  &__item {
    text-align: center;
    padding-top: rem(28);
    padding-bottom: rem(28);
    border-bottom: 1px solid rgba($black, 0.1);

    @include tablet {
      text-align: right;
      padding: 0;
      border-bottom: none;
      width: 50%;
    }

    @include desktop {
      padding: 0;
    }
  }
}
