.logo {
display: block;

  &__pic {
    display: block;
    margin: 0 auto;


    @include tablet {
      height: auto;
      width: rem(114);
    }

    @include desktop {
      width: rem(149);
    }
  }
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.logo--active:hover {
opacity: 1;
cursor: auto;
}
