.parametrs {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: rem(17);
  padding-block-start: rem(8);
  padding-block-end: rem(8);
  border-block-end: 1px solid #ececec;

  @include tablet {
    grid-template-columns: 1fr 3fr;
    gap: rem(30);
    font-size: rem(15);
    line-height: calc(20 / 15);
    padding-block-start: rem(10);
    padding-block-end: rem(10);
  }
}
