.parametrs {
    display: grid;
    grid-template-columns: 1fr 2fr;
    // justify-content: space-between;
    gap: rem(17);
    padding-block-start: rem(13);
    padding-block-end: rem(13);
    border-block-end: 1px solid #ececec;
  }