.reviews {
  position: relative;
  background-color: $white;
  padding-block-start: rem(14);
  padding-block-end: rem(46);

  @include tablet {
    padding-block-start: rem(80);
    padding-block-end: rem(130);
    display: grid;
    grid-template-columns: repeat(2, 1fr) rem(175);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "title title fb"
      "quote quote quote";
    background-image: url("../img/background/review-tablet.jpg");
    background-position: left top;
    background-size: auto calc(434 / 514 * 100%);
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/review-tablet@2x.jpg");
    }
  }

  @include desktop {
    grid-template-columns: rem(175) repeat(2, 1fr) rem(175);
    grid-template-areas:
      ". title title fb"
      ". quote quote quote";
    padding-block-start: rem(78);
    padding-block-end: rem(182);
    background-position: rem(50) top;
  }
}

.reviews__title {
  color: $black;
  font-size: rem(25);
  line-height: calc(30 / 25);
  margin-block-end: rem(14);

  @include tablet {
    margin-block-end: 0;
    font-size: rem(43);
    line-height: calc(50 / 43);
    grid-area: title;
    align-self: end;
  }

  @include desktop {
    font-size: rem(53);
    line-height: calc(57 / 53);
  }
}

.reviews__btn-wrapper {
  display: flex;
  justify-content: center;
  margin-block-end: rem(36);

  @include tablet {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: rem(10);
    z-index: 1;
    align-self: end;
    grid-column: -1 / -2;
    grid-row: -1 / 2;
    margin-block-end: initial;
  }

  @include desktop {
    margin-block-end: 0;
  }
}

.reviews__slide-btn {
  border: 1px solid #ececec;
  padding: 0;
  margin: 0;
  background-color: transparent;
  width: rem(130);
  height: rem(52);
  background-image: url("../img/icons/arrow-l.svg");
  background-repeat: no-repeat;
  background-position: center rem(10);
  background-size: 50px 26px;
  box-shadow: none;

  @include tablet {
    border: none;
    width: 50%;
    height: rem(54);
  }

  @include desktop {
    height: rem(52);
  }
}

.reviews__slide-btn:nth-of-type(2) {
  background-image: url("../img/icons/arrow-r.svg");
  border-inline-start: none;
}

.reviews__slide-btn:hover {
  opacity: 0.6;
}

.reviews__slide-btn:active {
  opacity: 0.3;
}

.reviews__feebback-btn {
  @include tablet {
    align-self: start;
    grid-area: fb;
  }

  @include desktop {
    margin-block-start: rem(1);
  }
}
