$green: #46c1ae;

.social-list {
  @include reset-list-style;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  gap: rem(24);
}

.social-list__item:hover .social-list__item-pic {
  fill: $green;
}

.social-list__item:active .social-list__item-pic {
  opacity: 0.3;
}

.social-list__item-pic {
  margin: 0;
  padding: 0;
}

.social-list__item-link {
  vertical-align: middle;
  display: flex;
  align-items: center;
}
