$green: #46c1ae;
.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: rem(30) 0 rem(30);
  justify-content: center;
  max-width: 100%;
  gap: rem(24);

  @include tablet {
    padding: 0;
    margin-bottom: rem(-10);
  }
}

.social-list__item {
  @include reset-list-style;

}


.social-list__item:hover .social-list__item-pic {
  fill: $green;
}

.social-list__item:active .social-list__item-pic {
  opacity: 0.3;
}

.social-list__item-pic {
  margin: 0;
  padding: 0;
}
