.advantages {
  --counter: 3;

  @include section-wrapper;
  @include reset-list-style;
  @include show-outline(violet);
  padding-block-start: rem(20);
  padding-block-end: rem(20);
  font-size: rem(17);
  font-weight: bold;

  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(var(--counter), 1fr);
    // grid-auto-rows: 1fr;
    grid-auto-flow: column;
    column-gap: rem(30);
  }

  &__item {
    position: relative;
    @include show-outline;
    padding-block-start: rem(12);
    padding-block-end: rem(12);
  }

  &__item::before {
    display: block;
    content: "";
    width: rem(55);
    height: rem(38);
    margin-block-end: rem(16);
    @include show-outline(green);

  }

  &__text {
    max-width: rem(250);
  }
}
