.content {
  @include section-wrapper;

  &__reviews {}
}

.reviews {
  padding-block-start: rem(36);
  padding-block-end: rem(46);

  @include tablet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
    "title title fb"
    "quote quote quote";
    row-gap: rem(20);
    
    @include desktop {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
        ". title title fb"
        ". quote quote quote";

    }
  }

  &__title {
    font-size: rem(25);
    line-height: calc(30 / 25);
    margin-block-end: rem(14);

    @include tablet {
      font-size: rem(43);
      line-height: calc(50 / 43);
      margin-block-end: rem(39);
      grid-area: title;
    }
  }
}

.quote {
  margin-block-end: rem(43);

  @include tablet {
    grid-area: quote;
  }

  &__text {
    line-height: calc(30 / 15);
    margin-block-end: rem(33);

    @include tablet {
      font-size: rem(17);
      line-height: calc(30 / 17);
      margin-block-end: rem(60);
    }
  }

  &__author {
    font-size: rem(17);
    line-height: calc(24 / 17);
    display: flex;
    flex-direction: column;
    gap: rem(20);
    font-style: normal;

    @include tablet {
      gap: rem(27);
      font-size: rem(18);

    }
  }

  &__author-name {
    font-weight: bold;
  }

  &__author-social {}

  &__slide-btn-wrapper {
    display: flex;
    justify-content: center;
    gap: rem(37);
    border: 1px solid #ececec;
    padding: rem(13) rem(38);
    margin-block-end: rem(51);

    @include tablet {
        z-index: 1;
        align-self: end;
        grid-column: -1 / -2;
        grid-row: -1 / 2;
    }
  }

  &__slide-btn {
    padding: 0;
    background-color: transparent;
    width: rem(50);
    height: rem(26);
    margin: 0;
    border: none;
    background-image: url("../img/icons/arrow-l.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-shadow: none;
  }

  &__slide-btn:nth-of-type(2) {
    background-image: url("../img/icons/arrow-r.svg");
  }

  &__slide-btn:hover {
    opacity: 0.6;
  }

  &__slide-btn:active {
    opacity: 0.3;
  }

  &__feebback-btn {
    @include tablet {
      align-self: start;
      grid-area: fb;
    }
  }
}