.page {

  &__header {}
}

.header {
  background-color: $white;
  font-size: rem(17);
  font-weight: bold;

  @include tablet {
    border-bottom: 1px solid rgba($black, 0.3);
  }

  &__nav {
    position: relative;

    @include tablet {
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;
      max-width: $max-content-width;
      padding-top: rem(22);
      padding-bottom: rem(20);
      padding-left: rem(50);
      padding-right: rem(50);
    }

    @include desktop {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__toggle-wrapper {
    position: relative;
    padding-top: rem(22);
    padding-bottom: rem(22);
    width: 100%;
    border-bottom: 1px solid rgba($black, 0.1);

    @include tablet {
      border: 0;
      padding: 0;
      width: 50%;
    }

    @include desktop {
      width: fit-content;
      order: 2;
    }
  }

  // &__toggle-wrapper::after {

  //   @include tablet {
  //     position: absolute;
  //     display: block;
  //     content: "";
  //     width: 100vw;
  //     height: 1px;
  //     // background-color: rgba($black, 0.1);
  //     background-color: red;
  //     bottom: 0;
  //     left: 50%;
  //     transform: translateX(-28%);
  //   }

  //   @include desktop {
  //     transform: translateX(-49.5%);
  //   }
  // }


  &__logo {
    width: fit-content;
    display: block;
    margin: 0 auto;

    @include tablet {
      margin-left: 0;
      margin-right: auto;
    }

    @include desktop {
      margin: 0 auto;
    }
  }

  &__togle-menu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin-right: rem(30);

    @include tablet {
      display: none;
    }
  }

  &__menu {
    @include tablet {
      margin-left: rem(50);
      position: absolute;
      bottom: rem(-40);
      left: 0;
      order: 2;
    }

    @include desktop {
      position: initial;
      order: 1;
      max-width: 39%;
      margin-left: 0;
    }

  }

  &__helpers {
    @include tablet {
      order: 1;
      display: flex;
      width: 50%;
    }

    @include desktop {
      max-width: 39%;
      order: 3;
    }
  }

  &__adding-info {
    display: none;

    @include tablet {
      position: absolute;
      right: 0;
      bottom: rem(-40);
      margin-right: rem(50);
      width: 50%;
      order: 3;
    }

    @include desktop {
      margin-right: 0;
    }
  }
}

.logo {
  display: flex;
  justify-content: center;

  &__pic {
    display: block;
    margin: 0 auto;


    @include tablet {
      width: rem(114);
    }

    @include desktop {
      width: rem(149);
    }
  }
}


.menu {
  @include reset-list-style;

  @include tablet {
    font-size: rem(15);
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
  }

  @include desktop {
    font-size: rem(17);
  }

  &__item {
    text-align: center;
    padding-top: rem(28);
    padding-bottom: rem(28);
    border-bottom: 1px solid rgba($black, 0.1);

    @include tablet {
      padding: 0;
      text-align: left;
      border-bottom: none;
      width: 50%;
    }
  }

}

.helper {
  @include reset-list-style;

  @include tablet {
    display: flex;
  }

  @include desktop {
    font-size: rem(17);
  }

  &__item {
    text-align: center;
    padding-top: rem(28);
    padding-bottom: rem(28);
    border-bottom: 1px solid rgba($black, 0.1);

    @include tablet {
      text-align: right;
      padding: 0;
      border-bottom: none;
      width: 50%;
    }

    @include desktop {
      padding: 0;
    }
  }
}

.info {

  @include tablet {
    font-size: rem(15);
    display: flex;
    align-items: end;
    justify-content: end;
  }

  @include desktop {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: none;

    @include desktop {
      width: 100;
      display: flex;

    }
  }

  &__item--sheep {
    font-weight: normal;

    @include tablet {
      display: flex;
      align-items: center;
      justify-content: end;

    }
  }
}

.event {
  @include reset-list-style;

  &__item {}
}
