$toggle-color: $black;

@mixin toggle-parametrs() {
  width: rem(20);
  height: rem(2);
  background-color: $toggle-color;
}

.toggle-menu {
  position: relative;
  width: rem(20);
  height: rem(14);
  border: none;
  background-color: transparent;
}

.toggle-menu--hide {
  display: none;
}

.toggle-menu:hover {
  opacity: 0.6;
  cursor: pointer;
}

.toggle-menu:active {
  opacity: 0.3;
}

.toggle-menu::before,
.toggle-menu::after {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  content: "";
  transition: transform 0.2s linear 0s;

  @include toggle-parametrs;
}

.toggle-menu::before {
  box-shadow: 0 6px 0 $toggle-color;
  transition: box-shadow 0.2s linear 50ms;
}

.toggle-menu::after {
  top: rem(12);

  @include toggle-parametrs;
}

.toggle-menu--close::before {
  box-shadow: 0 0 0 rgba($toggle-color, 0);
  background-color: $toggle-color;
  transform: translateY(6px) rotate(45deg);
}

.toggle-menu--close::after {
  background-color: $toggle-color;
  transform: translateY(-6px) rotate(-45deg);
}
