.wave-line::after {
  position: absolute;
  display: block;
  content: "";
  background-image: url("../img/icons/wave-line.svg");
  background-position: center;
  background-size: contain;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  height: rem(6);

  @include tablet {
    height: rem(17);
  }

  @include desktop {
    height: rem(23);
    background-size: 53px 23px;
    width: calc(100% - (50px * 2));
  }
}
