.wave {
  background-color: none;
}

.wave::after {
  @include tablet {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 100%;
    height: rem(24);
    content: "";
    background-image: url("../img/icons/wave-tablet.svg");
    // background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    background-size: auto;
    border: none;
  }

  @include desktop {
    background-image: url("../img/icons/wave-desktop.svg");
    height: rem(34);
  }
}
